@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: center;
}

/* Слайд */
/* Слайд активный (показывается) */
.slick-slide.slick-active {
  background-color: #FFF;
  height: 368px;
}

/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slick-dots li {
  background-color: #9EAD8D;
  width: 8px;
  height: 8px;
}