@charset "UTF-8";
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-end;
}

/* Слайд */
/* Слайд активный (показывается) */
.slick-slide.slick-active {
  background-color: #FFF;
  height: 368px;
}

/* Слайд основной */
.slick-slide.slick-current {
  background-color: #FBB65F;
  height: 400px;
}

/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.slick-dots li {
  background-color: #9EAD8D;
  width: 8px;
  height: 8px;
}

.slide {
  block-size: auto;
  width: 300px;
  height: 300px;
  padding-left: 48px;
  padding-right: 48px;
}
.slide .slide_header {
  padding-top: 48px;
}
.slide .slide_header .stars {
  display: inline-block;
  block-size: auto;
  width: 45%;
}
.slide .slide_header .pic {
  display: inline-block;
  text-align: center;
  block-size: auto;
  width: 45%;
}
.slide .slide_header .pic img {
  width: 102px;
  height: 102px;
  border-radius: 50%;
}